/* independence blue/grey #555B6E */
/* morning blue #89B0AE */
/* powder blue #BEE3DB */
/* cultured white #FAF9F9 */
/* apricot #FFD6BA */


/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif
}

ul {
	list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

ul > li {
  margin-left: 1em;
}

img {
  height: 100%;
  width: 100%;
}

/* IMAGE and LOGO CONTAINERS */
.user-logo-container,
.cactus-logo-container,
.download-logo-container {
  width: 2%;
  height: 2%;
}

.reviews-logo-container {
  width: 1.5%;
  height: 1.5%;
}

.cactus-sun-container {
  width: 8%;
  height: 25%;
}

.card-img-container {
  width: 4%;
  height: 4%;
}
